* {
    padding: 0;
    margin: 0;
    list-style: none;
}
button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}
a {
    text-decoration: none;
}
body {
    font-family: "Heebo", sans-serif;
}
.blog-link {
    color: #000;
}
.blog-link-red {
    color: #ff6464;
}
.wrapper {
    margin: 0 235px;
}
header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
}
.navbar {
    padding-right: 60px;
    display: flex;
    align-items: flex-end;
}
.navbar-list {
    display: flex;
    width: 236px;
    height: 30px;
    justify-content: space-between;
    align-items: flex-end;
}
.navbar-list-item {
    list-style: none;
    display: inline;
    font-family: Heebo;
    font-weight: 500;
    font-size: 20px;
}
.all-details {
    width: 1152px;
}
.menu--list {
    display: flex;
    list-style: none;
}
.menu--item + .menu--item {
    margin-left: 20px;
    margin-right: -20px;
}
.menu--item:nth-child(2) {
    margin-left: 50px;
}
.menu--item:last-child {
    margin-left: 65px;
}
.text {
    width: 682px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.5px;
    color: #000;
}
.title {
    font-weight: 500;
    font-size: 44px;
    line-height: 60px;
    color: #000;
}

.work-detail--title {
    font-size: 34px;
    padding-top: 78px;
    padding-bottom: 30px;
    line-height: 50px;
    font-weight: 700;
    color: #000;
    width: 506px;
}
.work-detail--item {
    display: flex;
}

.work-detail--meta {
    display: flex;
    margin-top: 14px;
    margin-bottom: 23px;
}
.work-detail--data {
    font-weight: 900;
    font-size: 18px;

    border-radius: 16px;
    color: #fff;
    background: #ff7c7c;
    padding: 0 12px;
    vertical-align: center;
}
.work-detail--category {
    margin-left: 26px;
    font-size: 20px;

    color: #000;
}
.work-detail--img {
    margin-top: 46px;
}

.heading--title {
    font-size: 30px;
    line-height: 60px;
    font-weight: 500;
    color: #21243d;
    margin-top: 54px;
}
.heading--title-second {
    font-size: 24px;
    line-height: 60px;
    font-weight: 500;
    color: #21243d;
    margin-top: -10px;
}
.heading-two--img {
    margin-top: 30px;
}
.heading-three--img {
    margin-top: 10px;
}
footer {
    width: 1152px;
    height: 182px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer--content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social--list {
    display: flex;
    list-style: none;
}
.social--item + .social--item {
    margin-left: 35px;
}
.footer--copirate {
    margin-top: 25px;
    font-size: 14px;
    line-height: 20px;
    color: #21243d;
}
@media (max-width: 376px), (max-width: 396px) {
    header {
        height: 80px;
        justify-content: center;
    }
    .navbar {
        padding-right: 0;
    }
    .wrapper {
        margin: 0 18px;
    }
    .allblog {
        width: 375px;
    }
    footer {
        width: 375px;
    }
    .text {
        width: 339px;
    }
    .work-detail--img,
    .heading-two--img,
    .heading-three--img {
        width: 339px;
        height: 256px;
    }
    .heading-two--img {
        margin-top: 10px;
    }
    .heading--title {
        margin: 0;
    }
    .work-detail--img {
        margin-top: 23px;
    }
    .work-detail--title {
        text-align: center;
        font-size: 30px;
        padding-top: 49px;
        padding-bottom: 23px;
        line-height: 40px;
        font-weight: 700;
        color: #000;
        width: 339px;
    }
    .all-details {
        width: 375px;
    }
    .work-detail--data {
        height: 24px;
        font-weight: normal;
        font-size: 16px;
        border-radius: 16px;
        color: #fff;
        background: #ff7c7c;
        padding: 0 12px;
    }
    .title {
        text-align: left;
    }
}
